@import "./layout.scss";
@import "./typography.scss";
@import "./utilities.scss";
@import "./components.scss";
@import "./media-queries.scss";

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}


.btn-drawer-open a,
.btn-drawer-close a {
  color: #fff;
  font-family: "AvenirLTStd Medium", Avenir;
  font-size: 14px;
  color: #ffffff;
}


.highcharts-credits {
  display: none;
}

.c-data {
  background: rgba(216, 216, 216, 0.6);
  .bar {
    /* Rectangle 5: */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* DOWNLOAD | VIEW DATA: */
    padding-right: 10px;
    a {
      font-family: "AvenirLTStd Medium", Avenir;
      font-size: 10px;
      color: #999999;
      text-align: center;
      text-decoration: none;
    }
    /* HIDE DATA | DOWNLOAD Copy: */
  }
  .table {
    margin-left: 30px;
    td:first-child {
      text-align: left;
    }
    td {
      text-align: center;
      padding-right: 10px;
    }
  }
}

.active-label {
  color: #2a316c !important;
}

.vertical-divider {
  border-left: 1px solid #999999;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.leaflet-container {
  height: 400px;
  width: 100%;
  margin: 0 auto;
}

//components
$white-gb: #ffffff;

.c-card--no-margin {
  background: red;
  margin: 0;
  height: 80%;
  opacity: 0.93;
}

.c-story-board {
  display: flex;
  flex-direction: column;
  .navbar {
    .logo {
      img {
        height: 50px;
      }
    }
  }
  hr {
    width: 70%;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
  }
  .chapter-marker {
    font-size: 45px;
    color: #e0e060;
    text-align: left;
    margin-right: 10px;
  }
}

$chapter-marker-bg-hover: #37a9ab;
$chapter-marker-bg: #d8d8d8;

.c-card--lg {
  width: 100%;
  height: 80%;
}



// Utilities
.hidden {
  display: none;
}

.u-center-text {
  text-align: center;
}

.u-bg-cover {
  background-image: url("./../img/home-bg.png");
  object-fit: cover;
}

.u-center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-top-left {
  justify-content: flex-start;
}

body,
html {
  height: 100%;
  margin: 0;
  font-size: 12px;
  color: #0c0c0c;
}

//layout styles
.l-full-height {
  height: 100vh;
}

.l-col-layout {
  flex-direction: column;
}

.l-top-padding {
  padding-top: 20px;
}

.l-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// Typography
h2 {
  margin: 0;
  /* Downtown is Happenin: */
  font-size: 25px;
}


i {
  border: solid #00b3ee;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

hr {
  /* Line: */
  border: 1px solid #2a316c;
}


.app {
  height: 100%;
}

//leaflet overriden styles

.btn-switcher {
  align-self: center;
  margin-bottom: 20px;
  a {
    height: 33px;
    border: solid 2px #13294B ;
    text-decoration: none;
    color: #13294B;
    padding: 5px;
    &:not(last) {
      border-right: none;
    }
    &:last-child {
      border-right: solid 2px #13294B ;
    }

    &:hover {
      background-color: #13294B;
      color: white;
    }
  }
}

// TYPOGRAPHY STYLES

.u-invisible-element {
  visibility: hidden;
}
.leaflet-control-fullscreen {
  border: none !important;
}
.leaflet-control-fullscreen a {
  background:#00B3EE url(./../img/zoom.svg) no-repeat 0 0;
  border-radius: 50% !important;
  //background-size:26px 52px;
  background-position: center;
  width: 40px !important;
  height: 40px !important;
  &:hover {
    background: #0091c1 url(./../img/zoom.svg) no-repeat 0 0;
    //background-size:26px 52px;
    background-position: center;
  }


}
.leaflet-control-fullscreen-button leaflet-bar-part {
  border-radius: 50% !important;
}

.map-holder {
  .leaflet-right {
    display: flex;
  }
}

.dropbtn {
  background-color: #00B3EE;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  width: 100px;
  align-self: flex-end;
  margin-bottom: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  //position: relative;
  display: flex;
  flex-direction: column;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  background: #909DAC;
  min-width: 160px;
  z-index: 1;
  padding: 10px;

}

.active-overlay-menu {
  font-family: "AvenirLTPro-Black", AvenirLTPro-Black !important;
}

/* Links inside the dropdown */
.dropdown-content a {
  text-decoration: none;
  display: block;
  width: 100% !important;
  font-family: "Avenir-Roman", Avenir-Roman;
  font-size: 14px;
  color: #FFFFFF;
  border: none !important;
  background: none !important;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 5px;
  line-height: normal !important;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: white !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #0091c1;
}

.leaflet-control-layer-select{
  border:none!important;

}

.employment-svg {
  max-height: 500px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}