.l-flex-flex-end {
    display: flex;
    justify-content: flex-end;
  }
  
  .l-flex-center {
    display: flex;
    justify-content: center;
  }
  
  .l-flex-align-center {
    display: flex;
    align-items: center;
  }
  
  .l-flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.l-story-grid {
  .l-story-grid-row {
    display: flex;
    flex-wrap: wrap;
    margin: 30px -15px;
    &__no-margin-top {
      @extend .l-story-grid-row;
      margin-top: 0;
    }
    &__no-margin-bottom {
      @extend .l-story-grid-row;
      margin-bottom: 0;
    }    
    .l-story-grid-column-half {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      &__top {
        @extend .l-story-grid-column-half;
      }
      &__bottom {
        @extend .l-story-grid-column-half;
      }
    }
    .l-story-grid-column-half-max-width {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 50%;
      padding-right: 15px;
      padding-left: 15px;      
    }
    .l-story-grid-column-half-centered {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 50%;
      margin-left: 25%;
      padding-right: 15px;
      padding-left: 15px;
    }    
    .l-story-grid-left {
      width: 50%;
      height: 400px;
      float: left;
    }
    .l-story-grid-right {
      height: 400px;
      float: right;
    }
  }
}