@media (max-width: 1200px) {
  // TYPOGRAPHY STYLES
  .main-text {
    font-size: 18px;
  }
  .main-heading {
    font-size: 30px;
  }

  // COMPONENT STYLES
  .c-card {
    &__home {
      width: 500px;
      height: 500px;
    }
  }

  .c-main-logo {
    img {
      width: 150px;
    }
  }

  .c-btn--primary {
    font-size: 16px;
  }

  .c-stories {
    .c-story-navigator {
      &__value_of_the_biz {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 22px;
  }
  .main-text {
    font-size: 14px;
  }

  .main-number-heading {
    font-size: 20px;
  }
  .c-main-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    img {
      width: 103px;
    }
  }

  .c-btn--primary {
    display: none;
    &__mobile {
      display: block;
      margin-top: 40px;
    }
  }

  .c-drawer-container__open {
    display: none;
  }

  .c-card {
    &__home {
      width: 100%;
      height: 375px;
      .main-heading {
        text-align: center;
      }
    }
    &__chapters-card {
      margin-top: 100px;
      width: 100%;
      height: auto;
      display: block;
      .c-card__content {
        width: 100%;
        .main-heading {
          padding-top: 20px;
        }
        .main-heading__purple:after {
          width: 40%;
        }
      }
    }
  }

  .c-chapter-markers {
    flex-direction: column;
    .chapter-card {
      display: flex;
      width: 90%;
      height: auto;
      margin: 0 auto;
      margin-bottom: 20px;
      justify-content: flex-start;
      .sub-heading {
        padding: 0;
        width: auto;
      }
      .chapter-marker {
        flex-basis: 15%;
      }
      .chapter-title {
        margin-left: 0;
      }
    }
    .chapter-card:not(:last-child) {
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  .c-main-jumbotron {
    background-position: center;
  }

  .c-bevelled-box {
    background: linear-gradient(
        30deg,
        transparent 70px,
        rgba(255, 255, 255, 0.9) 10px
      ),
      linear-gradient(90deg, transparent 0px, rgba(255, 255, 255, 0.9) 0px),
      linear-gradient(210deg, transparent 70px, rgba(255, 255, 255, 0.9) 10px),
      linear-gradient(90deg, transparent 0px, rgba(255, 255, 255, 0.9) 0px);
    background-position: bottom left, top left, top right, bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    padding: 20px;
    &__chapters {
      background: #fff;
      /*fallback*/
      background: linear-gradient(
          0deg,
          transparent 0px,
          rgba(255, 255, 255, 0.9) 0px
        ),
        linear-gradient(90deg, transparent 0px, rgba(255, 255, 255, 0.9) 0px),
        linear-gradient(210deg, transparent 60px, rgba(255, 255, 255, 0.9) 0px),
        linear-gradient(90deg, transparent 0px, rgba(255, 255, 255, 0.9) 0px);
      background-position: bottom left, top left, top right, bottom right;
      background-size: 50% 50%;
      background-repeat: no-repeat;
    }
    &__chapter-card {
      background: rgba(216, 216, 216, 0.5);
      background: linear-gradient(
          30deg,
          transparent 10px,
          rgba(216, 216, 216, 0.5) 10px
        ),
        linear-gradient(90deg, transparent 0px, rgba(216, 216, 216, 0.5) 0px),
        linear-gradient(210deg, transparent 10px, rgba(216, 216, 216, 0.5) 10px),
        linear-gradient(90deg, transparent 0px, rgba(216, 216, 216, 0.5) 0px);
      background-position: bottom left, top left, top right, bottom right;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      padding: 20px;
      &:hover {
        background: #37a9ab;
        background: linear-gradient(30deg, transparent 10px, #37a9ab 10px),
          linear-gradient(90deg, transparent 0px, #37a9ab 0px),
          linear-gradient(210deg, transparent 10px, #37a9ab 10px),
          linear-gradient(90deg, transparent 0px, #37a9ab 0px);
        background-position: bottom left, top left, top right, bottom right;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        padding: 20px;
      }
      &:nth-child(4) {
        background: rgba(39, 39, 39, 0.2);
        background: linear-gradient(
            30deg,
            transparent 10px,
            rgba(39, 39, 39, 0.2) 10px
          ),
          linear-gradient(90deg, transparent 0px, rgba(39, 39, 39, 0.2) 0px),
          linear-gradient(210deg, transparent 10px, rgba(39, 39, 39, 0.2) 10px),
          linear-gradient(90deg, transparent 0px, rgba(39, 39, 39, 0.2) 0px);
        background-position: bottom left, top left, top right, bottom right;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        padding: 20px;
      }
    }
    &__story-header {
      width: 80%;
      height: 100%;
      opacity: 0.83;
      background: #068278;
      /*fallback*/
      background: linear-gradient(90deg, transparent 0px, #068278 0px),
        linear-gradient(90deg, transparent 0px, #068278 0px),
        linear-gradient(230deg, transparent 50px, #068278 10px),
        linear-gradient(90deg, transparent 0px, #068278 0px);
      background-position: bottom left, top left, top right, bottom right;
      background-size: 50% 50%;
      background-repeat: no-repeat;
    }
  }

  .c-navbar {
    padding: 10px 15px;
    img {
      width: 65px;
      height: auto;
    }
    .menu {
      display: none;
    }
    .menu__mobile {
      display: block;
    }
  }

  .c-story-header {
    height: 200px;
  }

  .c-chapter-card {
    padding: 10px 0 0 10px;
    header:after {
      display: none;
    }
    .chapter-title {
      padding-left: 0;
      flex-direction: column;
      align-items: flex-start;
      .main-number-heading {
        margin-bottom: 5px;
      }
    }
    p {
      width: 100%;
    }
    .u-invisible-element {
      display: none;
    }
  }

  .c-stories {
    flex-direction: column;
    .c-story-navigator {
      max-width: inherit;
      width: 100%;
      overflow-y: inherit;
      padding: 10px 15px;
      height: auto;
      .btn-switcher {
        display: flex;
        flex-direction: column;
        a {
          height: 24px;
          &:not(last) {
            border-right: solid 2px #13294B;
          }
        }
      }
    }
    .map-holder {
      width: 100%;
      .map {
        max-width: inherit;
        height: 100%;
        width: 100%;
      }
    }
  }

  .c-mobile-nav-story-map {
    padding: 15px 0;
    background: #eceeef;
    display: flex;
    justify-content: center;
    button {
      padding: 8px 12px;
      font-family: "AvenirLTPro-Black", sans-serif;
      text-transform: uppercase;
      color: #fff;
      border: none;
      cursor: pointer;
    }
    .nav-story-button {
      &__active {
        background: #7f8b9d;
      }
      &__inactive {
        background: #bdc1c7;
      }
    }
  }

  .c-data-drawer-nav__sticky {
    display: none;
  }

  .c-thumbnail {
    margin: 0px 10px 20px 0;
  }

  .c-tabinator {
    font-size: 12px
  }

  .c-chart-modal {
    top: 10%;
    left: 10%;
    width: 80%;
  }

  // layout styles
  .l-flex-center-center {
    flex-direction: column;
  }

  .l-story-grid {
    .l-story-grid-row {
      margin: 0px -15px;
      .l-story-grid-column-half {
        flex-basis: auto;
        flex-grow: 1;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        &__top {
          @extend .l-story-grid-column-half;
          order: 1;
        }
        &__bottom {
          @extend .l-story-grid-column-half;
          order: 2;
        }
      }
      .l-story-grid-column-half-centered {
        max-width: 100%;
        margin-left: 0;
      }
      .l-story-grid-column-half-max-width {
        flex-basis: auto;
        flex-grow: 1;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;    
      }
    }
  }

  // visualiztion styles
  .y.axis text {
    font-size: 10px;
  }

  .x.axis {
    font-size: 10px;
  }

  .admin-pie-text {
    font-size: 10px;
  }

}

// specific break point for value of the biz chart
@media (max-width: 1200px) {
  .c-stories {
    .c-story-navigator {
      &__value_of_the_biz {
        .story-content {
          .distribution-chart-wrapper {
            display: block;
          }
          .map-holder-small-map {
            display: block;
            border: 1px solid #aaa;
            margin: 30px 0 !important;
            height: 400px;
            .map {
              width: 100%;
              height: 100%;
            }
          }
          .c-bubble-column-svg {
            display: block;
          }
          .map-holder-landscaping-map {
            border: 1px solid #aaa;
            height: 400px;
            flex-grow: 1;
            margin-bottom: 10px;
            .map {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
