@font-face {
  font-family: "Avenir-Light";
  src: url("../assets/fonts/AvenirLTStd_Light.otf");
}

@font-face {
  font-family: "Avenir-Medium";
  src: url("../assets/fonts/AvenirLTStd_Medium.otf");
}

@font-face {
  font-family: "Avenir-Roman";
  src: url("../assets/fonts/AvenirLTStd_Roman.otf");
}

@font-face {
  font-family: "Avenir-Oblique";
  src: url("../assets/fonts/AvenirLTStd_Oblique.otf");
}

@font-face {
  font-family: "ChaletBook-Bold";
  src: url("../assets/fonts/ChaletBook_Bold.otf");
}

@font-face {
  font-family: "MinionPro";
  src: url("../assets/fonts/MinionPro_Regular.otf");
}

@font-face {
  font-family: "Verdana";
  src: url("../assets/fonts/Verdana.ttf");
}

@font-face {
  font-family: "Wingdings";
  src: url("../assets/fonts/Wingdings_3.ttf");
}

@font-face {
  font-family: "AvenirLTPro-Black";
  src: url("../assets/fonts/367086_0_0.eot");
  src: url("../assets/fonts/367086_0_0.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/367086_0_0.woff2") format("woff2"),
    url("../assets/fonts/367086_0_0.woff") format("woff"),
    url("../assets/fonts/367086_0_0.ttf") format("truetype");
}

.main-heading {
  font-family: "AvenirLTPro-Black";
  font-size: 35px;
  &__purple {
    @extend .main-heading;
    color: #24356d;
  }
  &__white {
    @extend .main-heading;
    color: #fff;
  }
}

.sub-heading {
  font-family: "AvenirLTPro-Black";
  font-size: 22px;
  &__centered {
    @extend .sub-heading;
    text-align: center;
    
  }
}

.sub-sub-heading {
  font-family: "AvenirLTPro-Black";
  font-size: 24px;
  &__purple {
    @extend .sub-sub-heading;
    color: #13294b;
    text-transform: capitalize;
  }
}

.main-text {
  font-family: "Avenir-Roman";
  font-size: 18px;
  line-height: 1.3;
  &__black {
    @extend .main-text;
    color: #312f2f;
  }
  &__white {
    @extend .main-text;
    color: #fff;
  }
}

.main-number-heading {
  font-family: "AvenirLTPro-Black", sans-serif;
  color: #dbdd3a;
  margin: 0;
  font-size: 55px;
}

.c-counter-wrapper {
  margin-bottom: 20px;
}

.c-counter {
  .img {
    margin-left: 12px;
    margin-right: 12px;
    height: 45px;
  }
  .number {
    font-family: "AvenirLTPro-Black";
    font-size: 40px;
    color: #00B3EE;
    margin-right: 12px;
  }
  .label {
    font-family: "Avenir-Roman";
    font-size: 18px;
    color: #2A316C;
  }
}

.chart-header {
  font-family: "Avenir-Roman";
  font-size: 20px;
  line-height: 1.3;
  font-weight: bold;
}

.chart-footer {
  font-family: "Avenir-Roman";
  font-size: 12px;
  line-height: 0.8;
  font-weight: normal;
  margin-bottom: 40px;
}