.ul-height-100 {
  height: 100%;
}

.ul-yellow-color {
    color: #E0E060;
}

.ul-greyedout-text {
  color: grey;
}

.sweet-loading {
  position: absolute;
  vertical-align: middle;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  width: inherit;
}