.ul-height-100 {
  height: 100%;
}

.ul-yellow-color {
    color: #E0E060;
    margin-right: 5px;
}

.ul-greyedout-text {
  color: grey;
}

.sweet-loading {
  position: absolute;
  vertical-align: middle;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  width: inherit;
}

.dot {
  height: 11px;
  width: 11px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  vertical-align: baseline;
  margin-right:  5px;
}