.l-flex-flex-end {
  display: flex;
  justify-content: flex-end; }

.l-flex-center {
  display: flex;
  justify-content: center; }

.l-flex-align-center {
  display: flex;
  align-items: center; }

.l-flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center; }
