@media (max-width: 1200px) {
  .main-text {
    font-size: 18px; }
  .main-heading {
    font-size: 30px; }
  .c-card__home {
    width: 500px;
    height: 500px; }
  .c-main-logo img {
    width: 150px; }
  .c-btn--primary {
    font-size: 16px; }
  .c-stories .c-story-navigator__value_of_the_biz {
    width: 100%;
    margin-left: 0; } }

@media (max-width: 768px) {
  .main-heading {
    font-size: 22px; }
  .main-text {
    font-size: 14px; }
  .main-number-heading {
    font-size: 20px; }
  .c-main-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0; }
    .c-main-logo img {
      width: 103px; }
  .c-btn--primary {
    display: none; }
    .c-btn--primary__mobile {
      display: block;
      margin-top: 40px; }
  .c-drawer-container__open {
    display: none; }
  .c-card__home {
    width: 100%;
    height: 375px; }
    .c-card__home .main-heading {
      text-align: center; }
  .c-card__chapters-card {
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: block; }
    .c-card__chapters-card .c-card__content {
      width: 100%; }
      .c-card__chapters-card .c-card__content .main-heading {
        padding-top: 20px; }
      .c-card__chapters-card .c-card__content .main-heading__purple:after {
        width: 40%; }
  .c-chapter-markers {
    flex-direction: column; }
    .c-chapter-markers .chapter-card {
      display: flex;
      width: 90%;
      height: auto;
      margin: 0 auto;
      margin-bottom: 20px;
      justify-content: flex-start; }
      .c-chapter-markers .chapter-card .sub-heading {
        padding: 0;
        width: auto; }
      .c-chapter-markers .chapter-card .chapter-marker {
        flex-basis: 15%; }
      .c-chapter-markers .chapter-card .chapter-title {
        margin-left: 0; }
    .c-chapter-markers .chapter-card:not(:last-child) {
      margin: 0 auto;
      margin-bottom: 20px; }
  .c-main-jumbotron {
    background-position: center; }
  .c-bevelled-box {
    background: linear-gradient(30deg, transparent 70px, rgba(255, 255, 255, 0.9) 10px), linear-gradient(90deg, transparent 0px, rgba(255, 255, 255, 0.9) 0px), linear-gradient(210deg, transparent 70px, rgba(255, 255, 255, 0.9) 10px), linear-gradient(90deg, transparent 0px, rgba(255, 255, 255, 0.9) 0px);
    background-position: bottom left, top left, top right, bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    padding: 20px; }
    .c-bevelled-box__chapters {
      background: #fff;
      /*fallback*/
      background: linear-gradient(0deg, transparent 0px, rgba(255, 255, 255, 0.9) 0px), linear-gradient(90deg, transparent 0px, rgba(255, 255, 255, 0.9) 0px), linear-gradient(210deg, transparent 60px, rgba(255, 255, 255, 0.9) 0px), linear-gradient(90deg, transparent 0px, rgba(255, 255, 255, 0.9) 0px);
      background-position: bottom left, top left, top right, bottom right;
      background-size: 50% 50%;
      background-repeat: no-repeat; }
    .c-bevelled-box__chapter-card {
      background: rgba(216, 216, 216, 0.5);
      background: linear-gradient(30deg, transparent 10px, rgba(216, 216, 216, 0.5) 10px), linear-gradient(90deg, transparent 0px, rgba(216, 216, 216, 0.5) 0px), linear-gradient(210deg, transparent 10px, rgba(216, 216, 216, 0.5) 10px), linear-gradient(90deg, transparent 0px, rgba(216, 216, 216, 0.5) 0px);
      background-position: bottom left, top left, top right, bottom right;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      padding: 20px; }
      .c-bevelled-box__chapter-card:hover {
        background: #37a9ab;
        background: linear-gradient(30deg, transparent 10px, #37a9ab 10px), linear-gradient(90deg, transparent 0px, #37a9ab 0px), linear-gradient(210deg, transparent 10px, #37a9ab 10px), linear-gradient(90deg, transparent 0px, #37a9ab 0px);
        background-position: bottom left, top left, top right, bottom right;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        padding: 20px; }
      .c-bevelled-box__chapter-card:nth-child(4) {
        background: rgba(39, 39, 39, 0.2);
        background: linear-gradient(30deg, transparent 10px, rgba(39, 39, 39, 0.2) 10px), linear-gradient(90deg, transparent 0px, rgba(39, 39, 39, 0.2) 0px), linear-gradient(210deg, transparent 10px, rgba(39, 39, 39, 0.2) 10px), linear-gradient(90deg, transparent 0px, rgba(39, 39, 39, 0.2) 0px);
        background-position: bottom left, top left, top right, bottom right;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        padding: 20px; }
    .c-bevelled-box__story-header {
      width: 80%;
      height: 100%;
      opacity: 0.83;
      background: #068278;
      /*fallback*/
      background: linear-gradient(90deg, transparent 0px, #068278 0px), linear-gradient(90deg, transparent 0px, #068278 0px), linear-gradient(230deg, transparent 50px, #068278 10px), linear-gradient(90deg, transparent 0px, #068278 0px);
      background-position: bottom left, top left, top right, bottom right;
      background-size: 50% 50%;
      background-repeat: no-repeat; }
  .c-navbar {
    padding: 10px 15px; }
    .c-navbar img {
      width: 90px;
      height: auto; }
    .c-navbar .menu {
      display: flex; }
    .c-navbar .menu__mobile {
      display: none; }
  .c-story-header {
    height: 200px;
    background-position-x: 60%; }
  .c-chapter-card {
    padding: 10px 0 0 10px; }
    .c-chapter-card header:after {
      display: none; }
    .c-chapter-card .chapter-title {
      padding-left: 0;
      flex-direction: column;
      align-items: flex-start; }
      .c-chapter-card .chapter-title .main-number-heading {
        margin-bottom: 5px; }
    .c-chapter-card p {
      width: 100%; }
    .c-chapter-card .u-invisible-element {
      display: none; }
  .c-stories {
    flex-direction: column; }
    .c-stories .c-story-navigator {
      max-width: inherit;
      width: 100%;
      overflow-y: inherit;
      padding: 10px 15px;
      height: auto; }
      .c-stories .c-story-navigator .btn-switcher {
        display: flex;
        flex-direction: column; }
        .c-stories .c-story-navigator .btn-switcher a {
          height: 24px; }
          .c-stories .c-story-navigator .btn-switcher a:not(last) {
            border-right: solid 2px #13294B; }
    .c-stories .map-holder {
      width: 100%; }
      .c-stories .map-holder .map {
        max-width: inherit;
        height: 100%;
        width: 100%; }
  .c-mobile-nav-story-map {
    padding: 15px 0;
    background: #eceeef;
    display: flex;
    justify-content: center; }
    .c-mobile-nav-story-map button {
      padding: 8px 12px;
      font-family: "AvenirLTPro-Black", sans-serif;
      text-transform: uppercase;
      color: #fff;
      border: none;
      cursor: pointer; }
    .c-mobile-nav-story-map .nav-story-button__active {
      background: #7f8b9d; }
    .c-mobile-nav-story-map .nav-story-button__inactive {
      background: #bdc1c7; }
  .c-data-drawer-nav__sticky {
    display: none; }
  .c-thumbnail {
    margin: 0px 10px 20px 0; }
  .c-tabinator {
    font-size: 12px; }
  .c-chart-modal {
    top: 10%;
    left: 10%;
    width: 80%; }
  .l-flex-center-center {
    flex-direction: column; }
  .l-story-grid .l-story-grid-row {
    margin: 0px -15px; }
    .l-story-grid .l-story-grid-row .l-story-grid-column-half, .l-story-grid .l-story-grid-row .l-story-grid-column-half__top, .l-story-grid .l-story-grid-row .l-story-grid-column-half__bottom {
      flex-basis: auto;
      flex-grow: 1;
      max-width: 100%;
      padding-right: 15px;
      padding-left: 15px; }
      .l-story-grid .l-story-grid-row .l-story-grid-column-half__top {
        order: 1; }
      .l-story-grid .l-story-grid-row .l-story-grid-column-half__bottom {
        order: 2; }
    .l-story-grid .l-story-grid-row .l-story-grid-column-half-centered {
      max-width: 100%;
      margin-left: 0; }
    .l-story-grid .l-story-grid-row .l-story-grid-column-half-max-width {
      flex-basis: auto;
      flex-grow: 1;
      max-width: 100%;
      padding-right: 15px;
      padding-left: 15px; }
  .y.axis text {
    font-size: 10px; }
  .x.axis {
    font-size: 10px; }
  .admin-pie-text {
    font-size: 10px; } }

@media (max-width: 1200px) {
  .c-stories .c-story-navigator__value_of_the_biz .story-content .distribution-chart-wrapper {
    display: block; }
  .c-stories .c-story-navigator__value_of_the_biz .story-content .map-holder-small-map {
    display: block;
    border: 1px solid #aaa;
    margin: 30px 0 !important;
    height: 400px; }
    .c-stories .c-story-navigator__value_of_the_biz .story-content .map-holder-small-map .map {
      width: 100%;
      height: 100%; }
  .c-stories .c-story-navigator__value_of_the_biz .story-content .c-bubble-column-svg {
    display: block; }
  .c-stories .c-story-navigator__value_of_the_biz .story-content .map-holder-landscaping-map {
    border: 1px solid #aaa;
    height: 400px;
    flex-grow: 1;
    margin-bottom: 10px; }
    .c-stories .c-story-navigator__value_of_the_biz .story-content .map-holder-landscaping-map .map {
      width: 100%;
      height: 100%; } }
